/*Still need to remove the code in here that the partial now has, after we make these files real scss*/
/*Still want to add in an inheritance example and a math example*/
/*We've created a very simple fluid grid, based on 960px. Operations in Sass let us do something like take pixel values and convert them to percentages without much hassle. The generated CSS will look like:*/

/*This is how you import the partial*/

@import 'sidebar_nav';

/*There are the variables we will be using throughout the scss*/

$primary-color: #333;
$secondary-color: #999999;
$sidebar-padding: 250px;

/*This is a mix-in, which is very helpful for when you have vendor prefixes, ie the way you make the css work on all the browsers*/

@mixin border-radius($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

body {
  margin-top: 70px;
  padding-bottom: 70px;
}

.footer-text {
  color: #EDEDED;
  font-size: .7em;
  margin: 4px;
}

.nav-margin {
  margin-bottom: -23px;
  line-height: 60%;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    @include transition(all 0.5s ease);
}

/*The toggled class will cause the content in the wrapper to move over to not be hidden by the menu*/

#wrapper.toggled {
    padding-left: $sidebar-padding;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-padding;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    @include transition(all 0.5s ease);
    margin-top: -20px;
}

#wrapper.toggled #sidebar-wrapper {
    width: $sidebar-padding;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: $sidebar-padding;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.1em;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $secondary-color;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: $primary-color;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: $secondary-color;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: $primary-color;
    background: none;
}

/*this is to display the content differently on different screen sizes*/

@media(min-width:768px) {
    #wrapper {
        padding-left: $sidebar-padding;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
